@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Ubuntulight;
    src: url(Ubuntu-Light.ttf);
}
@font-face {
    font-family: ComfortaaBold;
    src: url(Comfortaa-Bold.ttf);
}
html {
    background-image: url('mcrtx6.jpeg');
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
body {
    max-width: 100%;
    animation-duration: 1s;
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1.0;}
}
@keyframes slide {
    0% {top: -300px; margin-right: 100%; opacity: 0;}
    50% {top: 0%; margin-right: 100%; opacity: 1.0;}
    100% {margin-right: 0%;}
}
h1 {
    font-family: Comfortaa;
    font-size: 24pt;
    color: white;
}
p {
    font-family: Ubuntu;
    font-size: 14pt;
    color: white;
}
.name {
    font-size: 32pt;
    text-align: center;
    margin-bottom: 4%;
}
.main {
    margin-left: 20%;
    margin-top: 4%;
    max-width: 100%;
    margin-right: 10%;
}
.left-sidebar {
    margin-top: 4%;
    margin-left: 10%;
    animation-duration: 1s;
    position: relative;
}
.address-tile {
    margin-top: 10%;
    opacity: 0.9;
    border-radius: 16px;
}
.title-tile {
    margin-top: 4%;
    margin-left: 4%;
    max-width: 60%;
    background-color: rgba(0, 209, 178, 0.75);
    border-radius: 32px;
}
.textlink {
    color: white;
}
.generic {
    border-radius: 32px;
}
ul {
    list-style-type: circle;
    margin-left: 20px;
    font-family: Ubuntu;
    font-size: 14pt;
}
h2 {
    font-family: Comfortaa;
    font-size: 18pt;
    color: white;
}
.content-tile {
    background-color: rgba(62, 142, 208, 0.8);
}
a {
    color: white;
}
h3 {
    font-family: ComfortaaBold;
    font-size: 14pt;
    color: white;
}